

.nav{
    display:flex;
    width:1280px;
    height:100px;
    background-color:blue;
    justify-content:space-between;
  }
  .logo{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display:inline-block;
  }
  .main-nav{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display:inline-block;
  }
  .login-register{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display:inline-block;
  }
  .main-nav {
    border: none;
    background: rgb(251,33,117);
      background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
      color: #fff;
      overflow: hidden;
  }
  .main-nav:hover {
      text-decoration: none;
      color: #fff;
  }
  .main-nav:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 5s ease-in-out infinite;
  }
  .main-nav:hover{
    opacity: .7;
  }
  .main-nav:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(100) rotate(45deg); opacity: 0; }
  }
  